<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true" />
  </include>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find h1_description)/urdf/h1_cbf.urdf -urdf -z 1.05 -model h1_description"
    output="screen" />
  <param name="legged_robot_description" command="cat $(find h1_description)/urdf/h1_cbf.urdf"/>
    <!-- <param name="legged_robot_description" command="cat $(find h1_description)/urdf/h1_dynamic.urdf"/> -->

  <rosparam file="$(find h1_description)/config/default.yaml" command="load"/>

  <rosparam file="$(find test_controller)/config/controllers.yaml" command="load"/>

  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="controllers/joint_state_controller controllers/test_controller2"/>


</launch>